.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.from-top-enter-active,
.from-top-leave-active {
  transition: all 1s ease;
}

.from-top-enter-from,
.from-top-leave-to {
  transform: translateY(-100%);
}

.from-right-enter-active,
.from-right-leave-active {
  transition: all 0.5s ease;
}

.from-right-enter-from,
.from-right-leave-to {
  transform: translateX(100%);
}
